source $HOME/Dev/py/py3/bin/activate

export GITHUB_API=https://api.github.com/repos/speakninja/speakninja/issues?labels=cfp

export T_CONSUMER_KEY=
export T_CONSUMER_SEC=
export T_ACCESS_TOKEN=
export T_ACCESS_TOKEN_SEC=
